# Advent of Code 2016
Day 3

## Input file
First we load the input file.

In [67]:
import pandas as pd

infile = 'day3-input.txt'

df = pd.read_csv(infile, header=None, sep='\s+', engine='python').astype(int)
df.columns = [['a','b','c']]
print ('Loading {} elements.'.format(len(df)))
df.head(4)

Loading 1599 elements.

     a    b    c
0  810  679   10
1  783  255  616
2  545  626  626
3   84  910  149

## Part 1

In [68]:
valid = lambda x: sorted([x['a'],x['b'],x['c']])[0]+sorted([x['a'],x['b'],x['c']])[1]>sorted([x['a'],x['b'],x['c']])[2]

In [69]:
df['valid'] = df.apply(valid, axis=1)
df.head(4)

     a    b    c  valid
0  810  679   10  False
1  783  255  616   True
2  545  626  626   True
3   84  910  149  False

In [70]:
print ('Part 1: There are {} possible triangles.'.format(df[df['valid']].count()['a']))

Part 1: There are 869 possible triangles.

## Part 2

In [71]:
import numpy as np

l = np.append(np.append(df['a'].values,df['b'].values), df['c'].values)
n = len(l)
df2 = pd.DataFrame(l.reshape((int(n/3),3)))
df2.columns = [['a','b','c']]
print ('Still {} elements, but in a different order.'.format(len(df2)))
df2.head(4)

Still 1599 elements, but in a different order.

     a    b    c
0  810  783  545
1   84  607  556
2  938  638  981
3  680  523  910

In [72]:
df2['valid'] = df2.apply(valid, axis=1)
df.head(4)

     a    b    c  valid
0  810  679   10  False
1  783  255  616   True
2  545  626  626   True
3   84  910  149  False

In [73]:
print ('Part 2: There are {} possible triangles.'.format(df2[df2['valid']].count()['a']))

Part 2: There are 1544 possible triangles.